.container {
    height: 500px;
    border: 2px solid blue;
    padding: 10px;
    box-sizing: border-box;
}

.box {
    background-color: red;
    height: calc(100% - 100px);
}

.footer {
    height: 100px;
    background-color: green;
}