#box1,
#box2 {
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

#box1 {
    background-color: orangered;

}

#box2 {
    background-color: chartreuse;
}

.box p {
    background-color: aqua;
}

.box span {
    background-color: blueviolet;
}